body {
    background-color: rgb(197, 177, 206);
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
header {
    background-color: rgb(197, 156, 212);
    color: white;
    padding: 10px;
    text-align: center;
}

header p {
    margin: 0;
    font-size: 0.9em;
}

nav {
    background-color: rgb(187, 151, 201);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: rgb(149, 106, 184);
}


nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(149, 106, 184);
    background-color: rgb(197, 156, 212);
}

img {
    width: 180px;
    border-radius: 20px;

}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

.mis-datos {
    text-align: center;
    background-color: #fae5fd;
    border-left: 5px solid #956ab8;
    padding: 20px;
}

form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
  }
  
  form input, 
  form select, 
  form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
#SobreMi {
    background-color: #fae5fd;
    border-left: 5px solid #956ab8;
    padding: 20px;
}

#Experiencia {
    background-color: #fae5fd;
    border-left: 5px solid #956ab8
}

#Formacion {
    background-color: #fae5fd;
    border-left: 5px solid #956ab8;
}

#Idiomas {
    background-color: #f3e5f5;
    border-left: 5px solid #956ab8;
}

#Tecnologias{
    background-color: #f3e5f5;
    border-left: 5px solid #956ab8;
}

#Formulario {
    background-color: #f3e5f5;
    border-left: 5px solid #956ab8;
    padding: 25px;
    border-radius: 10px;
}